<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>v1.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.dortania.USBmap</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>USBMap</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>RP02 - PXSX</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOPathMatch</key>
			<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/RP02@1C/IOPP/PXSX@0</string>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>BAAAAA==</data>
				<key>ports</key>
				<dict>
					<key>HS01</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>AQAAAA==</data>
						<key>Comment</key>
						<string>Rear Bottom Left (3.1 gen2), 5Gb</string>
					</dict>
					<key>HS02</key>
					<dict>
						<key>UsbConnector</key>
						<integer>9</integer>
						<key>port</key>
						<data>AgAAAA==</data>
						<key>Comment</key>
						<string>USB-C Back 3.0</string>
					</dict>
					<key>SS01</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>AQAAAA==</data>
						<key>Comment</key>
						<string>Rear Bottom Left (2.0)</string>
					</dict>
					<key>SS02</key>
					<dict>
						<key>UsbConnector</key>
						<integer>9</integer>
						<key>port</key>
						<data>BAAAAA==</data>
						<key>Comment</key>
						<string>USB-C Back 2.0</string>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMac18,3</string>
		</dict>
		<key>XHCI - XHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOPathMatch</key>
			<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/XHC@14/XHC@14000000</string>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>port-count</key>
				<data>FgAAAA==</data>
				<key>ports</key>
				<dict>
					<key>HS01</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>AQAAAA==</data>
						<key>Comment</key>
						<string>SD Card Reader</string>
					</dict>
					<key>HS05</key>
					<dict>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>BQAAAA==</data>
						<key>Comment</key>
						<string>Rear top left 2.0 only, used for Broadcom Bluetooth</string>
					</dict>
					<key>HS06</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>BgAAAA==</data>
						<key>Comment</key>
						<string>Rear top right 2.0 only</string>
					</dict>
					<key>HS07</key>
					<dict>
						<key>UsbConnector</key>
						<integer>9</integer>
						<key>port</key>
						<data>BwAAAA==</data>
						<key>Comment</key>
						<string>USB-C Front 2.0</string>
					</dict>
					<key>HS09</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>CQAAAA==</data>
						<key>Comment</key>
						<string>Front 2nd from left 2.0</string>
					</dict>
					<key>HS10</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>CgAAAA==</data>
						<key>Comment</key>
						<string>Rear bottom 4th from left 2.0</string>
					</dict>
					<key>HS11</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>CwAAAA==</data>
						<key>Comment</key>
						<string>Front 3rd from left 2.0</string>
					</dict>
					<key>HS12</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>DAAAAA==</data>
						<key>Comment</key>
						<string>Rear bottom 3rd from left 2.0</string>
					</dict>
					<key>HS13</key>
					<dict>
						<key>UsbConnector</key>
						<integer>0</integer>
						<key>port</key>
						<data>DQAAAA==</data>
						<key>Comment</key>
						<string>Front left 2.0</string>
					</dict>
					<key>SS01</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>EQAAAA==</data>
						<key>Comment</key>
						<string>Front left 3.0</string>
					</dict>
					<key>SS02</key>
					<dict>
						<key>UsbConnector</key>
						<integer>9</integer>
						<key>port</key>
						<data>EgAAAA==</data>
						<key>Comment</key>
						<string>USB-C Front 3.0</string>
					</dict>
					<key>SS03</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>EwAAAA==</data>
						<key>Comment</key>
						<string>Front 2nd from left 3.0</string>
					</dict>
					<key>SS04</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>FAAAAA==</data>
						<key>Comment</key>
						<string>Front 3rd from left 3.0</string>
					</dict>
					<key>SS05</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>FQAAAA==</data>
						<key>Comment</key>
						<string>Rear bottom 2nd from left 3.0</string>
					</dict>
					<key>SS06</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>FgAAAA==</data>
						<key>Comment</key>
						<string>Rear Bottom 4th from left 3.0</string>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMac18,3</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
